
#banner{
     width: 100%;
}
.principal{
    padding: 30px;
    background-color: grey;
}
.titulo-principal{
    padding-left: 20px;
    background-color: white;
}
.centralizado{
    text-align: center;   
}
p{
    text-align: center;   
}
#cerveja{
    font-size: 15px;
}
strong em{
    color: rebeccapurple;
}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%; 
}
.itens{
    font-style: italic;
}
.beneficios{
    background-color: white;
    padding: 20px;
}
.img-beneficios{
    width: 50%;
}