:root{
    --corextra2: #8C7968;
    --corletra: #0D0C0B;
    --corclara: #D9BDAD;
    --cormedia: #BF7950;
    --corextra: #3f352f;
}
#banner{
     width: 100%;
}
.principal{
    padding: 30px;
    background-color: var(--corclara);
}
.titulo-principal{
    padding-left: 20px;
    background-color: #ffffff;
}
.centralizado{
    text-align: center;   
}
p{
    text-align: center;   
}
#cerveja{
    font-size: 15px;
}
strong em{
    color: var(--corextra);
}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%; 
}
.itens{
    font-style: italic;
}
.beneficios{
    background-color: #ffffff;
    padding: 20px;
}
.img-beneficios{
    width: 50%;
}